body {
  background-image: url("https://wallpaperplay.com/walls/full/8/5/2/278085.jpg");
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
}

#header {
 color: black; text-shadow: 5px 5px 4px whitesmoke;
 font-family: 'Gloria Hallelujah', cursive;
 font-size: 75px;
}


.container {
text-align: center;
border: 12px solid rgb(215, 215, 162);
border-radius: 10px;
margin-top: 55px;
margin-bottom: 15px;
background-color: hsla(307, 100%, 79%, 0.4);
}

#intro {
  font-family: 'Give You Glory', cursive; text-shadow: 2px 2px 2px #000000;
	font-size: 170%;
  margin-top: 25px;
  color:rgb(66, 191, 24);  
}

.info {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-shadow: 2px 2px 2px whitesmoke;
}


#theWord {
  font-family: 'Lacquer', sans-serif;
  font-size: 180%;
  color: #000000;
}


#remGuesses {
  font-family: 'Alegreya SC', serif; text-shadow: 1px 1px 1px #000000;
	margin-top: 40px;
  margin-bottom: 30px;
  color: brown;
}

#wrongChoices {
  font-family: 'Freckle Face', cursive; text-shadow: 2px 2px 2px whitesmoke;
	background-color:hsla(63, 94%, 49%, 0.3);
	color: black;
	height: 40px;
  line-height: 40px;  
}


#wins, #losses {
  font-family: 'Freckle Face', cursive; text-shadow: 2px 2px 2px whitesmoke; 
}